/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container styling */
.container {
  border: 1px solid lightgray;
  width: auto; /* Takes as much width as necessary within its parent container */
  margin: 20px auto; /* Vertically allows 20px, horizontally centers */
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #fff;
  padding: 20px;
  position: relative; /* Positioned relative for potential pseudo-elements or child absolute positioning */
}

/* Header styling */
.post-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px; /* Creates space between header and content below */
}

.user-image {
  width: 150px;
  height: 170px;
  border-radius: 50%;
  margin-right: 10px; /* Space between the image and the username */
}

.username {
  font-size: 1em; /* Larger font for emphasis */
  color: black; /* çEnsures visibility against light backgrounds */
}

/* Post image container styling */
.phone-app-demo {
  overflow: hidden;
  width: 100%; /* Full width to maintain container fluidity */
  margin-top: 20px; /* Space between the top content and image */
  margin-bottom: 20px; /* Space between the image and content below */
}

.post-image {
  max-width: 100%; /* Image will not exceed container width */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Eliminates bottom margin/padding of inline-block */
}

/* Post actions styling */
.post-actions {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px; /* Space from previous content */
}

.form-btn {
  padding: 10px;
  font-size: 1em;
  background-color: #f0f0f0;
  color: black;
  border: none;
  border-radius: 0; /* Flat design for modern look */
  cursor: pointer;
  transition: background 0.3s;
}

.form-btn:hover {
  background-color: var(--primary-color); /* Interactive element indicating click possibility */
}

.like-button, .comment-button {
  margin-right: 10px; /* Consistent right margin for spacing between buttons */
}

/* Likes count and caption styling */
.likes-count, .caption {
  margin-top: 10px; /* Consistent top margin for separation */
  font-size: 1.2em;
  color: black;
  text-align: left;
}

.caption {
  font-size: 1.4em; /* Slightly larger for readability and emphasis */
text-align: left}

