.wd-storefrunt {
    border-right: 1px solid lightgray;
    width: 280px;
    position: fixed;
    height: 100%;
    /* overflow-y: auto; */
}

.wd-storefrunt-logo {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 280px;
    font-size: 1.8em;
    text-align: left;
}

.wd-storefrunt-navigation {
    list-style: none;
    padding: 0px;  
    margin: 0px;
    width: 280px;
    margin-left: 10px;
}

.wd-storefrunt-navigation li {
    padding: 10px;     
    margin-bottom: 6px;
    font-size: 0.9em;  
    text-align: left;
}

.wd-storefrunt-navigation li .wd-storefrunt-icon-label {
    display: flex;
}

.wd-storefrunt-navigation li a {
    color: black;
    text-decoration: none;
    transition: var(--tran-04);
}

.wd-storefrunt-navigation li a:hover {
    background: var(--primary-color);
}

.wd-storefrunt-navigation li.wd-active a {
    color: red;    
}

.wd-storefrunt-navigation li a .wd-icon {
    color: black;
    text-decoration: none;
    margin-right: 28px;
    font-size: 25px;
}

.wd-storefrunt-navigation li a .wd-icon .wd-icon-profile {
    color: black;
    text-decoration: none;
    margin-left: 0px;
    margin-top: 8px;
    width: 25px; 
    height: 25px;
    border-radius: 50%; 
    border-color: red;
    border-width: 0.5em;
    overflow: hidden; 
}
.wd-storefrunt-navigation li a .wd-label {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    padding-top: 10px;
    font-weight: 500;
}

.wd-storefrunt-navigation li.wd-active a .wd-icon {
    color: red;
    margin-right: 28px;
}
.wd-storefrunt-navigation li.wd-active a .wd-label {
    color: red;
    padding-top: 10px;
}
